@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <br />
    <h2 class="display-4">To Samar's First Application </h2>

    <p>Please use your right leg </a>.</p>
</div>
